<!-- Add your site or application content here -->
<navbarx-directive></navbarx-directive>


<!-- Add your site or application content here -->

<div class="main-container">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-lg-1 control-label">集群:</label>
            <div class="col-lg-2" ng-show="!isClusterLoading">
                <!--<select class="form-control" ng-model="cluster">
                    <option value="">所有</option>
                    <option value="group1">group1</option>
                    <option value="group2">group2</option>
                    <option value="group3">group3</option>
                </select>-->
                <select class="form-control" ng-model="cluster" ng-options = "cluster.name for cluster in clusters">
                </select>
            </div>
            <div class="col-lg-2" ng-show="isClusterLoading">
                <label class="control-label">Loading...</label>
            </div>
            <label class="col-lg-1 control-label">主机:</label>
            <div class="col-lg-2">
                <input class="form-control" ng-model="name">
            </div>
            <div class="col-lg-1">
                <a class="btn btn-primary pull-right m-l" role="button" ng-click="getHostList();">查询</a>
            </div>
            <div class="col-lg-4">
                <a class="btn btn-primary pull-right m-l" role="button" href="#/oncecloud/hosts/add/">新增主机</a>
            </div>
        </div>
    </form>

    <table st-table="user.rowCollection" class="table table-striped" st-pipe="user.callServer">
        <thead>
        <tr>
            <th>名称</th>
            <th>监控对象</th>
            <th>监控项</th>
            <th>地址</th>
            <th>状态</th>
            <th>描述</th>
        </tr>
        </thead>
        <tbody ng-show="!isHostLoading">
        <tr ng-repeat="row in list">
            <td>{{row.name}}</td>
            <td>Application({{row.applicationNum}})</td>
            <td><a href="#/oncecloud/hosts/items?hostName={{row.name}}&hostId={{row.id}}">Item({{row.itemNum}})</a></td>
            <td>{{row.interfaceAddr}}</td>
            <td ng-if="row.status == 1">已开启</td>
            <td ng-if="row.status == 0">已关闭</td>
            <td>{{row.description}}</td>
        </tr>
        <tr>
            <td colspan=6>
                <div class="radio text-lightgray text-center" ng-show="!list.length">
                    <lable>-- 暂无匹配数据 --</lable>
                </div>
            </td>
        </tr>
        </tbody>
        <tbody ng-show="isHostLoading">
        <tr>
            <td colspan="7" class="text-center">加载中 ...</td>
        </tr>
        </tbody>
        <tfoot ng-show="user.totalPages>1 && !user.isLoading">
        <tr>
            <td class="text-center" st-pagination="" st-items-by-page="10" colspan="7"
                st-template="app/components/pageSelect/pagination.custom.html">
            </td>
        </tr>
        </tfoot>
    </table>
</div>