<!-- Add your site or application content here -->
<navbarx-directive></navbarx-directive>


<!-- Add your site or application content here -->

<div class="main-container">

    <!--<scatter-directive namespace="forMain"></scatter-directive>-->

    <div class="row">
        <!--<h3>执行轨迹</h3>-->
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-2 control-label">Metric:</label>
                <div class="col-lg-2">
                    <input class="form-control" ng-model="metric_in" ng-init="metric_in=metric">
                </div>

                <label class="col-lg-2 control-label">Host:</label>
                <div class="col-lg-2">
                    <input class="form-control" ng-model="host_in">
                </div>

                <label class="col-lg-2 control-label">Downsample:</label>
                <div class="col-lg-2">
                    <input class="form-control" ng-model="downsample_in" ng-init="downsample_in=downsample">
                </div>

                <label class="col-lg-2 control-label">Start Time:</label>
                <div class="col-lg-2">
                    <input class="form-control" ng-model="startTime_in" ng-init="startTime_in=startTime">
                </div>

                <div class="col-lg-1">
                    <a class="btn btn-primary pull-right m-l" role="button" ng-click="getMetricData();">查询</a>
                </div>

                <!--<div class="col-lg-2">
                    <select class="form-control" ng-options="r.id as r.name for r in user.regions" ng-model="user.areaId" ng-change="user.selectCustomers()">
                        <option value="" selected ng-show="user.currentUser.type == 1">不限</option>
                    </select>
                </div>-->

            </div>

            <!--<div class="form-group">
                <label class="col-lg-2 text-right control-label">Start Time：</label>
                <div class="col-lg-2">
                    <input class="form-control" type="date" ng-model="user.fromDate">
                </div>
                <div class="pull-left form-control-static">To</div>
                <div class="col-lg-2">
                    <input class="form-control" type="date" ng-model="user.toDate">
                </div>
            </div>-->

        </form>

    </div>

    <div class="row">
        <div id="main" style="height:400px;width: 100%;"></div>
    </div>

</div>