<!-- Add your site or application content here -->
<navbarx-directive></navbarx-directive>


<!-- Add your site or application content here -->

<div class="main-container">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-lg-2 control-label">集群:</label>
            <div class="col-lg-2">
                <input class="form-control" ng-model="name">
            </div>
            <div class="col-lg-1">
                <a class="btn btn-primary pull-right m-l" role="button" ng-click="getList();">查询</a>
            </div>
            <div class="col-lg-4">
                <a class="btn btn-primary pull-right m-l" role="button" href="#/oncecloud/groups/add/">新增集群</a>
            </div>
        </div>
    </form>

    <table st-table="user.rowCollection" class="table table-striped" st-pipe="user.callServer">
        <thead>
        <tr>
            <th>名称</th>
            <th>主机</th>
            <th>模板</th>
            <th>描述</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody ng-show="!isLoading">
        <tr ng-repeat="row in list">
            <td>{{row.name}}</td>
            <td>Host(2)</td>
            <td>Template(3)</td>
            <td>{{row.description}}</td>
            <td>修改/删除</td>
        </tr>
        <tr>
            <td colspan=6>
                <div class="radio text-lightgray text-center" ng-show="!list.length">
                    <lable>-- 暂无匹配数据 --</lable>
                </div>
            </td>
        </tr>
        </tbody>
        <tbody ng-show="isLoading">
        <tr>
            <td colspan="7" class="text-center">加载中 ...</td>
        </tr>
        </tbody>
        <tfoot ng-show="user.totalPages>1 && !user.isLoading">
        <tr>
            <td class="text-center" st-pagination="" st-items-by-page="10" colspan="7"
                st-template="app/components/pageSelect/pagination.custom.html">
            </td>
        </tr>
        </tfoot>
    </table>
</div>