<!-- Add your site or application content here -->
<navbarx-directive></navbarx-directive>


<!-- Add your site or application content here -->

<div class="main-container">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-lg-2 control-label">名字:</label>
            <div class="col-lg-2">
                <input class="" ng-model="name">
            </div>
        </div>
        <div class="form-group">
            <!--<label class="col-lg-2 control-label">主机:</label>
            <div class="col-lg-2">
                <select multiple="multiple">
                    <option>host1</option>
                    <option>host2</option>
                    <option>host3</option>
                    <option>host4</option>
                    <option>host5</option>
                </select>
            </div>-->
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">描述:</label>
            <div class="col-lg-2">
                <input class="" ng-model="description">
            </div>
        </div>
        <div class="col-lg-2">
            <a class="btn btn-primary pull-right m-l" role="button" ng-click="add();">保存</a>
        </div>
    </form>

</div>