<!-- Add your site or application content here -->
<navbarx-directive></navbarx-directive>


<!-- Add your site or application content here -->

<div class="main-container">

    <div class="row" style="margin-bottom: 30px;">
        <div class="col-lg-3">
            <div class="input-group">
                <span class="input-group-addon">服务接口：</span>
                <select class="form-control" ng-model="serviceId">
                    <option value="0">New Account</option>
                    <!--<option value="1">Get Account</option>-->
                </select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                <span class="input-group-addon">开始时间：</span>
                <input type="text" class="form-control" ng-model="from_time" value="2017-03-25 16:38:12"/>
                <span class="input-group-btn"><button type="button" class="btn btn-default"><i
                        class="glyphicon glyphicon-calendar"></i></button></span>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                <span class="input-group-addon">截止时间：</span>
                <input type="text" class="form-control" ng-model="to_time" value="2017-03-25 16:38:12"/>
                <span class="input-group-btn"><button type="button" class="btn btn-default"><i
                        class="glyphicon glyphicon-calendar"></i></button></span>
            </div>
        </div>

        <div>
            <button class="btn btn-success" ng-click="getList();">错误诊断</button>
            <!--<button class="btn btn-success" ng-click="pca();">性能分析</button>-->
        </div>
    </div>

    <!--<div>-->
    <!--<form class="form-horizontal">-->
    <!--<div class="form-group">-->
    <!--<label class="col-lg-2 control-label">服务接口:</label>-->
    <!--<div class="col-lg-2">-->
    <!--<select class="form-control"  ng-model="serviceName">-->
    <!--<option value="" selected>不限</option>-->
    <!--<option value="1" >/accounts/{account}</option>-->
    <!--<option value="2" >/accounts/current</option>-->
    <!--<option value="3" >/accounts/demo</option>-->
    <!--<option value="4" >/accounts/current</option>-->
    <!--<option value="5" >/statistics/{account}(GET)</option>-->
    <!--<option value="6" >/statistics/current</option>-->
    <!--<option value="7" >/statistics/demo</option>-->
    <!--<option value="8" >/statistics/{account}(PUT)</option>-->
    <!--<option value="9" >/notifications/settings/current(GET)</option>-->
    <!--<option value="10" >/notifications/settings/current(PUT)</option>-->
    <!--</select>-->
    <!--</div>-->
    <!--&lt;!&ndash;<label class="col-lg-2 text-right control-label">异常程度：</label>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-lg-2">&ndash;&gt;-->
    <!--&lt;!&ndash;<input class="form-control" placeholder="请输入程度程度" ng-model="user.userName" ng-change="user.selectCustomers()">&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <!--</form>-->
    <!--</div>-->


    <div class="panel panel-default">
        <div class="panel-heading">异常程度
            <label class="col-lg-2 control-label" style="color: red;float: right;">错误轨迹数:{{num_error}}</label>
            <label class="col-lg-2 control-label" style="color: green;float: right;">正确轨迹数:{{num_success}}</label>
        </div>
        <div class="panel-body">
            <div class="row">
                <div id="main" style="height:400px;width: 100%;"></div>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">错误诊断结果</div>
        <div class="panel-body">
            <div class="row">
                <table  class="table table-striped">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>requestUID</th>
                        <!--<th>服务接口</th>-->
                        <th>异常程度</th>
                        <th>响应时间(ms)</th>
                        <th>开始时间(ms)</th>
                        <th>异常微服务实例</th>
                        <th>异常类</th>
                        <th>异常方法</th>
                        <th>异常描述</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="error in errorTraceList">
                        <td>{{$index}}</td>
                        <td><a href="#/oncecloud/tracedetail/?istemplate=true&traceId={{trace[8]}}">{{trace[8]}}</a></td>
                        <!--<th>服务接口</th><td>{{}}</td>-->
                        <td>{{error[0]}}</td>
                        <td>{{error[7]}}</td>
                        <td>{{error[0]}}</td>
                        <td>{{error[2]}}</td>
                        <td>{{error[5]}}</td>
                        <td>{{error[3]}}</td>
                        <td>{{error[4]}}</td>
                    </tr>
                    <tr>
                        <td colspan=6>
                            <div class="radio text-lightgray text-center" ng-show="!errorTraceList.length">
                                <lable>-- 暂无异常轨迹 --</lable>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>