<!-- Add your site or application content here -->
<navbarx-directive></navbarx-directive>


<!-- Add your site or application content here -->

<div class="main-container">


    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-2 control-label">服务接口:</label>
                <div class="col-lg-2">
                    <select class="form-control"  ng-model="serviceName">
                        <option value="" selected>不限</option>
                        <option value="1" >/accounts/{account}</option>
                        <option value="2" >/accounts/current</option>
                        <option value="3" >/accounts/demo</option>
                        <option value="4" >/accounts/current</option>
                        <option value="5" >/statistics/{account}(GET)</option>
                        <option value="6" >/statistics/current</option>
                        <option value="7" >/statistics/demo</option>
                        <option value="8" >/statistics/{account}(PUT)</option>
                        <option value="9" >/notifications/settings/current(GET)</option>
                        <option value="10" >/notifications/settings/current(PUT)</option>
                    </select>
                </div>

                <label class="col-lg-2 control-label" style="color: green;">正确轨迹数:{{num_success}}</label>
                <label class="col-lg-2 control-label" style="color: red;">错误轨迹数:{{num_error}}</label>

                <!--<label class="col-lg-2 text-right control-label">异常程度：</label>-->
                <!--<div class="col-lg-2">-->
                <!--<input class="form-control" placeholder="请输入程度程度" ng-model="user.userName" ng-change="user.selectCustomers()">-->
                <!--</div>-->
            </div>
        </form>
    </div>


    <div class="row">
        <div id="main" style="height:400px;width: 100%;"></div>
    </div>


    <div class="row">
        <table st-table="user.rowCollection" class="table table-striped" st-pipe="user.callServer">
            <thead>
            <tr>
                <th>编号</th>
                <th>requestUID</th>
                <!--<th>服务接口</th>-->
                <th>异常程度</th>
                <th>响应时间(ms)</th>
                <th>开始时间(ms)</th>
                <th>异常微服务实例</th>
                <th>异常类</th>
                <th>异常方法</th>
                <th>异常描述</th>
            </tr>
            </thead>
            <tbody ng-show="!user.isLoading">
            <tr ng-repeat="error in errorTraceList">
                <td>{{$index}}</td>
                <td>{{error[8]}}</td>
                <!--<th>服务接口</th><td>{{}}</td>-->
                <td>{{error[0]}}</td>
                <td>{{error[7]}}</td>
                <td>{{error[0]}}</td>
                <td>{{error[2]}}</td>
                <td>{{error[5]}}</td>
                <td>{{error[3]}}</td>
                <td>{{error[4]}}</td>
            </tr>
            <tr>
                <td colspan=6>
                    <div class="radio text-lightgray text-center" ng-show="!errorTraceList.length">
                        <lable>-- 暂无异常轨迹 --</lable>
                    </div>
                </td>
            </tr>
            </tbody>
            <tbody ng-show="user.isLoading">
            <tr>
                <td colspan="7" class="text-center">加载中 ... </td>
            </tr>
            </tbody>
            <tfoot ng-show="user.totalPages>1 && !user.isLoading">
            <tr>
                <td class="text-center" st-pagination="" st-items-by-page="10" colspan="7" st-template="app/components/pageSelect/pagination.custom.html">
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

</div>