<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.navercorp.pinpoint.web.dao.ClusterDao">


    <insert id="add" parameterType="Cluster">
        INSERT INTO cluster (name, description)
        VALUES
        (#{name}, #{description})
    </insert>

    <!--<select id="getList" resultType="ServiceTraces" parameterType="string">-->
        <!--SELECT *-->
        <!--FROM service_traces WHERE 1=1-->
        <!--<if test="_parameter != null and _parameter != ''">-->
            <!--and service = #{_parameter}-->
        <!--</if>-->
    <!--</select>-->

</mapper>
