<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.navercorp.pinpoint.web.dao.ClusterDao">


    <insert id="add" parameterType="Cluster">
        INSERT INTO cluster (name, description)
        VALUES
        (#{name}, #{description})
    </insert>

    <select id="getList" resultType="Cluster" parameterType="java.util.Map">
        SELECT *
        FROM cluster WHERE 1=1
        <if test="name != null and name != ''">
            <bind name="pattern" value="'%' + _parameter.name + '%'" />
            and name LIKE #{pattern}
        </if>
    </select>

</mapper>
